:root {
  font-family: "JetBrains Mono", monospace, Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  --main-color: #0d6efd;
  --non-expanded-drawer: 6rem;
  --expanded-drawer: 22rem;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: aliceblue;
}

#root {
  min-height: 100vh;
}
